.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table td.actions {
    white-space: nowrap;
  }
  
  table td.actions a:hover {
    background-color: #007bff;
    color: #fff;
  }

  th:last-child {
    width: 200px;
  }  
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
    width: 70%;
    max-width: 500px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #fff;
    color: #007bff;
  }
  
  /* Update and Delete buttons */
.update-button,
.delete-button {
  display: inline-block;
  margin-right: 1px;
  padding: 8px 10px;
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.update-button:hover,
.delete-button:hover {
  background-color: #007bff;
  color: #fff;
}

.delete-button {
  color: #dc3545;
  border-color: #dc3545;
}

.delete-button:hover {
  background-color: #dc3545;
  color: #fff;
}
